{{ $title := .Get "title" }}
{{ $authors := .Get "authors" }}
{{ $venue := .Get "venue" }}
{{ $link := .Get "link" }}
{{ $image := .Get "image" }}

<div class="paper-card" style="display: flex; gap: 20px; margin-bottom: 20px;">
    <div class="paper-image" style="flex: 0 0 200px;">
        <a href="{{ $link }}">
            <img src="{{ $image }}" alt="Paper visualization" style="width: 100%; height: auto;">
        </a>
    </div>
    <div class="paper-content" style="flex: 1; padding-top: 5px;">
        <p style="margin-top: 0;"><a href="{{ $link }}" class="paper-title">{{ $title }}</a></p>
        <p class="authors">{{ $authors | safeHTML }}</p>
        <p class="venue">{{ $venue }}</p>
    </div>
</div> 